/* -------- FOOTER COMPACTO -------- */
.footer-compact {
    background-color: #1B0A2A;
    color: #D8BFD8;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    margin-top: auto;
}

.footer-compact a {
    color: #ccc;
    text-decoration: none;
}

.footer-compact a:hover {
    color: white;
}